.click-particle {
    position: absolute;
    pointer-events: none;
    animation: floatUp 0.8s ease-out forwards;
    font-weight: bold;
    color: #ef4444; /* Merah sesuai tema */
    font-size: 1.5rem;
    z-index: 50;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@keyframes floatUp {
    0% { opacity: 1; transform: translateY(0) scale(1); }
    100% { opacity: 0; transform: translateY(-80px) scale(1.5); }
}

//remove number input arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}